

    .hide {
        display: none;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .clear {
        clear: both;
        background-color: blue;
    }
    #reset-container, h1 {
        text-align: center;
    }